
h1{
    text-align: center;
    color: brown;
}

#container{
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    margin: 0;
}
#card{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    margin: 5px;
    border-radius: 5px;
    height: 25%;
    width: 80%;
    
}

#card{
    border: 1px solid silver;
}